@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: #222;
  width: 100%;
}

:root {
  --sep: rgb(200, 200, 200);
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.heart {
  color: red;
}

footer {
  text-align: center;
  margin-bottom: 20px;
}
