.comment-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

.comment-container:hover {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.comment-info {
  padding: 0.5rem;
}

.comment-body {
  padding: 0.5rem;
  flex-direction: column;
  background-color: #fdebe5;
}
