.comment-container {
  /* border: 1px solid rgba(0, 0, 0, 0.6); */
  margin: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.comment-container:hover {
  box-shadow: 1px 1px 5px #ff4500;}

.comment-info {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.comment-body {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #fdebe5;
}
