.comment-container {
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.comment-container:hover {
  border: 1px solid rgb(255, 69, 0);
}

.comment-info {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.comment-body {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #fdebe5;
}
