.sidebar-container {
    padding: 20px 20px 0px 0px;
    /* flex: 1; */
}

.sidebar {
    border: 1px solid rgb(129, 131, 132);
    width: 30ch;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 0.4rem;
    background-color: #fff;
}

.sidebar h3 {
    margin: 5px 0px;
    font-family: "Roboto", sans-serif;
}

@media (max-width:800px) {
    .sidebar-container {
        display: none;
    }
}