.sidebar-container {
  padding: 20px 20px 0px 0px;
}

.sidebar {
  /* border: 1px solid rgba(129, 131, 132, 0.5); */
  width: 25ch;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 0.4rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

.subreddits-title {
  background-color: rgba(255, 93, 33, 0.24);
  color: black;
  height: 1.5em;
  text-align: center;
  font-weight: 600;
  line-height: 2.5rem;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  font-family: "Teko", sans-serif;
  text-transform: lowercase;
}

ul {
  list-style: none;
}

li {
  padding: 2px 0px;
}

.selected-subreddit > button {
  background-color: #f45008;
  color: white;
}

button {
  border: 0;
  width: 100%;
  color: black;
  padding: 0.3rem 0rem;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all ease 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: #fbb7a0;
  color: black;
}

@media (max-width: 900px) {
  .sidebar-container {
    display: none;
  }
}
