.post {
    width: 640px;
    display: flex;
    border: 1px solid rgb(129, 131, 132);
    margin: 5px;
    border-radius: 0.4rem;
    box-shadow: rgb(129, 131, 132);
    background-color: #a0c6eb;
}
.post-info {
    margin: 5px;
}

.post-info > span{
    font-size: .9rem;
    font-weight: 300;
}

.post-info > a {
    font-size: .9rem;
}
.post-img {
    max-height:512px;
    max-width: 594px;
    margin: 0px auto;
}
.vote {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
    margin: 5px;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.upvote {
    width: 32px;
    height: 32px;
}

.sep {
    margin: 0 3px;
    color: var(sep);
}